@{
    Layout = "~/Views/MasterIntranet.cshtml";
    ViewBag.Title = "PrincipalIntranet";
}

<section class="content-header">
<h1>
Dashboard
<small>Control panel</small>
</h1>
<ol class="breadcrumb">
<li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
<li class="active">Dashboard</li>
</ol>
</section>

<!-- Main content -->
<section class="content">
    <h2>PrincipalIntranet</h2>
</section><!-- /.content -->

